body {
    margin: 0;
    padding: 0;
}

/*Header Css */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}

.navbar a {
    font-family: Roboto;
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
}
.navbar a:hover { 
    color:  blue;
}
.logo span{
    color: blue;
    font-weight: bold;
}

.navbar .logo,
.navbar .studio,
.navbar .portfolio,
.navbar .contacts {
    border-right: 10px;
}

.navbar .email {
    margin-left: 15em;
    padding-right: 15px;
}

/*Tag Line box*/
.boxTagline {
    display: flex;
    text-align: center;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */ 
    height: 30em;
    background-color: rgb(44, 41, 41);
}

.boxTagline p {
    display: block;
    font-weight: 900;
    font-size: 44px;
    color: #ffffff;
    margin-block-start: 0em;
    margin-block-end: 10px;
}
.buttonTagLine {
    border-radius: 5px;
    color: white;
    background-color: #5900ff; 
    width: 155px;
    height: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

footer {
    display: block;
    height: 7em;
    background-color: rgb(44, 41, 41);
}

